.inline.svelte-1epqngi{display:inline-block}.col-form-label.svelte-1epqngi{padding-left:0}
span.svelte-jt635x{color:#9a9a9a;font-size:13px;margin-bottom:5px;display:block}.confirmation-password.svelte-jt635x{padding-top:10px}
textarea.svelte-1oi0q03{width:100%;height:100px}
div.svelte-emqeiz{max-width:600px;margin:0 auto;position:relative;display:block}
.inline-form.svelte-11ka3lj{border-width:1px 1px 1px;border-style:solid;border-color:#899294;margin:30px 0;border-radius:5px}
.object-list-item.svelte-l15sn4{margin:10px 0;border-bottom:1px solid #eee;padding:10px 0}
div.svelte-99yn4o{white-space:pre;margin:0 0 5px 0;padding:5px 15px}